/* Reset Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/***************
 Utility 
***************/
body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 360px;
    margin: auto;
}

.title {
    font-weight: bold;
    padding-bottom: 1rem;
}


/***************
 Header 
***************/
.logo {
    text-align: center;
    padding: 1rem;
}

.logo img {
    width: 300px;
}


/***************
 Main 
***************/
.new_item {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.new_item input {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid #000;
    margin-right: 0.5rem;
}

.new_item button {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid #000;
    cursor: pointer;
}

.new_item button:hover {
    filter: opacity(0.7);
}

.row {
    width: fit-content;
    display: flex;
    gap: 1rem;
    margin: auto;
}

.tasks {
    width: 350px;
}

.completed,
.trashed {
    width: 250px;
}

.tasks,
.completed,
.trashed {
    height: 300px;
    margin: auto;
    background-color: #F5F7F7;
    border-radius: 10px;
    padding: 2rem;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #DADEE1;
}

.item i {
    padding: 0 0.5rem;
    cursor: pointer;
}

.message {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 1rem;
    color: #192741;
    font-weight: bold;
}

.message p {
    margin-right: 0.5rem;
}

.error {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 1rem;
    color: crimson;
    font-weight: bold;
}

.error p {
    margin-left: 0.5rem;
}